.row__poster {
	width: 80%;
	object-fit: contain;
	max-height: 200px;
	transition: transform 450ms;
	margin-right:10px;
}
.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 10px;
}
.row__posters::-webkit-scrollbar {
	display: none;
}
.row__poster:hover {
	transform: scale(1.08);
}
.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09);
}
.row{
    margin-top: 30px;
    margin-left: 0;
	color: white;
}




.row__posterContainer img{
    width: 20vw;
    transition: transform 450ms;
    margin-right: 1vw;


.row__posterContainer img:hover {
    transform: scale(1.05);
}



.row__posterTitle {
	color: #fff;
    display: block;
    margin-top: 2px;
    text-align: center;
}









/* .row{
    color: white;
    margin-left: 20px;
} */

/* .row h1{
    font-size: 25px;
} */

/* .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
} */

/* .row__posters::-webkit-scrollbar {
    display: none;
} */ 

/* @media(max-width: 630px) {
    .row__posterContainer .row__posterTitle {
            width: 12vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}  